In [ ]:
while <entry condition>:
    statements:
        an exit condition

In [1]:
num = 0
while num <= 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# WAP using while loop to print the table of 2

In [2]:
num = 1
val = int(input("Enter the number whose Table you want to print"))
while num <= 10:
    print(num * val)
    num += 1

Enter the number whose Table you want to print 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6 ...

In [3]:
num = 1
val = int(input("Enter the number whose Table you want to print"))
while num <= 10:
    print("2 X 1 = ",num * val)
    num += 1

Enter the number whose Table you want to print 2

2 X 1 =  2
2 X 1 =  4
2 X 1 =  6
2 X 1 =  8
2 X 1 =  10
2 X 1 =  12
2 X 1 =  14
2 X 1 =  16
2 X 1 =  18
2 X 1 =  20

In [4]:
# format()
name = input("Enter the name: ")
a = "Hey my name is {}".format(name)

Enter the name:  Purushottam

In [5]:
print(a)

Hey my name is Purushottam

In [7]:
num = 1
val = int(input("Enter the number whose Table you want to print"))
while num <= 10:
    print("{} X {} = {}".format(val, num, val*num))
    num += 1

Enter the number whose Table you want to print 15

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [8]:
# fstring
num = 1
val = int(input("Enter the number whose Table you want to print"))
while num <= 10:
    print(f"{val} X {num} = {num*val}")
    num += 1

Enter the number whose Table you want to print 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

# For loop

iterables are basically the collects
- List
- tuples
- dict
- sets
- strings
- range

In [10]:
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [11]:
# for index in iterable:
#     statements
for i in l:
    print(i)

1
2
3
4
5

In [12]:
# range(10) --> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# WAP using for loop to print the table of 5 [back on 7: 47]

In [ ]:
print(f"{val} X {num} = {num*val}")

In [15]:
val = 5
for i in range(1, 11):
    print(f"{val} X {i} = {val * i}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [16]:
# * * * * *
# * * * * *
for i in range(2):
    print("* * * * *")

* * * * *
* * * * *

In [ ]:
# *
# * *
# * * *
# * * * *

In [17]:
for i in range(2):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *

In [20]:
print("Litty", end = " ")
print("Anamika")
print("raj")

Litty Anamika
raj

In [22]:
# *
# * *
# * * *
# * * * *
for outter in range(1, 5):
    for inner in range(outter):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [24]:
for outer in range(1, 5):
    print(outer, end = "--> ")
    for inner in range(outer):
        print(inner, end = " ")
    print()

1--> 0
2--> 0 1
3--> 0 1 2
4--> 0 1 2 3

In [26]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [27]:
l = [1, 2, 3, 4, 5]
l[::2]

[1, 3, 5]

# dictionary

In [28]:
d = {"name": 25}

In [29]:
# {Key: Value}
d["name"]

25

In [30]:
d = {"name": "Mishie", 27: 2 +2j, (2,5): "Ashumoni"}

In [31]:
# the keys of dictionary is always immutable
# values can be mutable or immutable

In [32]:
d = {[1, 2, 3]: "soe vlue"}

TypeError: unhashable type: 'list'

In [33]:
d = {"name": "Mishie", 27: 2 +2j, (2,5): "Ashumoni"}
d[1]

KeyError: 1

In [34]:
d = {}
print(d)

{}

In [35]:
type(d)

dict

In [36]:
d["name"] = "geeth"
print(d)

{'name': 'geeth'}

In [37]:
d["listv"] = [1, 2, 5, 8]

In [38]:
print(d)

{'name': 'geeth', 'listv': [1, 2, 5, 8]}

In [39]:
len(d)

2

In [40]:
d["geeth"]

KeyError: 'geeth'

In [41]:
d['listv']

[1, 2, 5, 8]

In [42]:
type(d['listv'])

list

In [43]:
type(d)

dict

In [44]:
d["listv"][1]

2

In [45]:
# tuple
t = (1, 2, 4, 3)

In [46]:
t[0]

1

In [47]:
t[3]

3

In [48]:
t[1] = 2

TypeError: 'tuple' object does not support item assignment

In [49]:
t.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
t = ()
print(type(t))

<class 'tuple'>

# Function

In [ ]:
# bultin function
len(), print(), input(), type(), id(), hash(), sorted(), map(), filter()...
# user define function

In [51]:
l = [1, 2, 5, 8]
len(l)

4

In [52]:
len(5)

TypeError: object of type 'int' has no len()

In [53]:
l = 23
id(l)

140734170729592

In [54]:
j = 23
id(j)

140734170729592

In [55]:
l = [1, 2, 3]
j = [2 ,6 ,9]
print(id(l), id(j))

2167781732672 2167781750208

In [56]:
hash(1)

1

In [57]:
l = (1, 2)
hash(l)

-3550055125485641917

In [58]:
hash((1, 2))

-3550055125485641917

In [59]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

In [60]:
l = [5, 9, 8, 7,55]
sorted(l)

[5, 7, 8, 9, 55]

In [61]:
sorted((1, 2,5,0, -33))

[-33, 0, 1, 2, 5]

In [62]:
# user defined function
def kirans_func():
    print("Hey I am kiran AI")

In [63]:
kirans_func()

Hey I am kiran AI

In [66]:
def security():
    print("I check id cards")

def maths_department():
    print("We check you number knowledge")

In [67]:
maths_department()

We check you number knowledge

In [68]:
security()

I check id cards

In [ ]:
def function(param1, param2, param3,...):
    # perform complex operation using the parms
    return "something

In [69]:
def cal_summation(a, b):
    c = a + b
    return c
cal_summation(5, 6)

11

In [70]:
s = cal_summation(11, 9)

In [71]:
print(s)

20

In [72]:
s

20

In [73]:
s = cal_summation(11)

TypeError: cal_summation() missing 1 required positional argument: 'b'

In [74]:
cal_summation(5, 4, 7)

TypeError: cal_summation() takes 2 positional arguments but 3 were given

In [76]:
def cal_summation(a, b, c):
    print("b", b)
    c = a + b + c
    return c
cal_summation(5, 6, 7)

b 6

18

In [77]:
cal_summation(5, 7, 6)

b 7

18

In [78]:
cal_summation(b=23, a=10, c=0)

b 23

33